{% macro name(repo) %}
    {{ repo.owner.login }}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forks</title>
    <style>
        body {
            font-family: baskerville, georgia, serif;
            font-size: 18px;
        }

        main {
            margin: 5vw 20vw;
            line-height: 1.4rem;
        }
    </style>
</head>

<body>
    <main>
        <header>
            <h1>Forks</h1>
            <h2>A collaborative, distributed story.</h2>
        </header>

        <h3>Preface</h3>
        {# Is this the root repo? #}
        {% if repo == source %}
            <p>
                You started this journey over {{ repo.created_at | humanize_naturaldelta }} ago.
                You left from your home in the {{ repo.owner.forks_data.home}}. It was a {{ repo.owner.forks_data.weather }} day.
            </p>
            <p>
                To help others follow you, you lay behind a winding path of {{ repo.owner.forks_data.stones }}
                cobblestones.
            </p>
        {# Direct child of the root #}
        {% elif repo.source == repo.parent %}
            <p>
            You watched {{ name(parent) }} passing through the {{ repo.owner.forks_data.home }} where you live.
            They said they began this journey  {{ parent.created_at | humanize_naturaldelta }} ago.
            You decided to join them {{ repo.created_at | humanize_naturaldate }} on
            a {{ repo.owner.forks_data.weather }} day.
            </p>

            <p>
            They had laid a sturdy path of {{ source.owner.forks_data.stones }}
                cobblestones until their pockets were empty. You don't carry stones,
                but instead planted behind you a trail of {{ repo.owner.forks_data.flowers }} flowers.
            <p>
        {# Descendent of the root but not a direct child #}
        {% else %}
           <p>
            One day {{ name(parent) }}  {{ parent.created_at | humanize_naturaldelta }} ago passed through your {{ repo.owner.forks_data.home }}.
            They were not the first on the journey.
            </p>
            <p> They told you they'd followed a sturdy path of {{ source.owner.forks_data.stones }}
            cobblestones, but the stones were finite, and they lay instead a trail of {{ parent.owner.forks_data.flowers }} flowers.
            </p>
        {% endif %}

        {% for level in groups %}
            <h3>Chapter {{ level }}</h3>

            {% for fork in groups[level] %}
                <p>
                {% if level == 1 %}

                    {{ name(fork) }} observed {% if fork.parent == repo %} you {% else %} {{ name(parent) }} {% endif %}
                    passing through the {{ fork.owner.forks_data.home }} where they lived and chose to follow. They travelled along
                    the {{ source.owner.forks_data.stones }}
                    cobblestone path until the stones ran out. They planted instead a trail of
                    {{ fork.owner.forks_data.flowers }} flowers for others to follow them.

                {% else %}

                    {{ name(fork) }} left their {{ fork.owner.forks_data.home }} and followed
                    the path of {{ fork.owner.forks_data.parent_data.flowers }}
                    flowers until the flowers ran thin. They planted instead a trail of
                    {{ fork.owner.forks_data.flowers }} flowers for others to follow them.

                {% endif %}

                They set out on a {{ fork.owner.forks_data.weather }} day.
            </p>
            <!--
                fork: {{ fork }}
                level: {{ fork.level }}
            -->
            {% endfor %}
        {% endfor %}
    </main>
    <!-- debugging info

    repo: {{ repo }}
    repo.created_at: {{ repo.created_at }}
    source: {{ source }}
    source.created_at: {{ source.created_at }}
    -->
</body>

</html>