{% macro name(repo) %}
    {{ repo.owner.login }}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forks</title>
    <style>
        body {
            font-family: baskerville, georgia, serif;
        }

        main {
            margin: 10vw 30vw;
        }
    </style>
</head>

<body>
    <main>
        <header>
            <h1>Forks</h1>
            <h2>A collaborative, distributed story.</h2>
        </header>

        {# Is this the root repo? #}
        {% if not repo.source %}
            <p>
                You started this journey {{ repo.created_at | humanize_naturaldelta }} ago.
                It was a {{ repo.owner.forks_data.weather }} day.
            </p>
        {# Direct child of the root #}
        {% elif repo.source == repo.parent %}
            <p>
            You heard that {{ name(parent) }} began this journey  {{ parent.created_at | humanize_naturaldelta }} ago.
            and you decided to join them {{ repo.created_at | humanize_naturaldate }} on
            a {{ repo.owner.forks_data.weather }} day.
            </p>
        {# Descendent of the root but not a direct child #}
        {% else %}
           <p>
            Before you, {{ name(parent) }} began this journey {{ parent.created_at | humanize_naturaldelta }} ago, but
            they were not the first.
            </p>
        {% endif %}

        {% for fork in forks %}
        <p>{{ name(fork) }} joined the party {{ fork.created_at | humanize_naturaldate }}

        on a {{ fork.owner.forks_data.weather }} day.</p>
        {% endfor %}
    </main>
</body>

</html>